---
---

@import "{{ site.theme }}";
body{
    font-size: large;
    background-image: url('https://raw.githubusercontent.com/melonnmediatech/GUACAMOLE/master/invitacion-fondo.jpg');
    background-size: cover;
}
header {
  display: none;
}

mark { 
    background-color: black;
    color: white;
    
}
