
body{
   
padding-top: 4200px;   
    font-size: large;
    background-color: red;
   background-image: url('https://opensource.com/sites/default/files/styles/image-full-size/public/lead-images/github-universe.jpg');
    background-size: 100%;
    min-heigt:4500px;
    
    
    
}
header {
  display: none;
}

mark { 
    background-color: black;
    color: white;
    
}
