---
---

@import "{{ site.theme }}";
body{
    padding-top: 4200px;
    font-size: large;
    background-image: url('https://github.com/melonnmediatech/GUACAMOLE/blob/master/invitacion-fondo00.jpg?raw=true');
    background-size: 100% 5000px;
    
    
}
header {
  display: none;
}

mark { 
    background-color: black;
    color: white;
    
}
